<!-- Barra superior -->
<div class="topbar">
  <a href="/home"><img src="img/logo.png" alt="Logo" class="logo"></a>
  <div class="welcome-text">Bienvenido {{ username }}</div>
  <img src="img/user.png" alt="Imagen de usuario" class="user-image">
</div>
<!-- Barra de navegación -->
<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="/home">Inicio</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#!addSerie">Agregar Serie</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#!seeBills">Ver cargos</a>
      </li>
    </ul>
  </div>
</nav>