    /* Estilos para la barra superior */
    .title {
        font-size: 2.5em;
        text-align: center;
        color: #333;
        margin: 10px;
    }

    .topbar {
        background-color: #333;
        color: white;
        display: flex;
        align-items: center;
        height: 100px;
        padding: 0 20px;
    }

    .logo {
        width: 100px;
        height: 40px;
    }

    .welcome-text {
        flex-grow: 1;
        text-align: center;
        font-size: 44px;
    }

    .user-image {
        height: 40px;
    }

    .avatar {
        width: 100px;
        align-content: center;
    }

    /* Estilos para la barra de navegación */
    .navbar {
        background-color: #f2f2f2;
        border-bottom: 1px solid #ccc;
        display: flex;
        padding: 0 20px;
    }

    .navbar-nav .nav-link.active {
        font-weight: bold;
        background-color: red;
    }

    .navbar a {
        color: #333;
        text-decoration: none;
        margin: 0 10px;
        font-size: 18px;
    }

    /* Estilo para la lista */
    .series-list {
        border: 1px solid #ccc;
        padding: 10px;
        margin: 10px;
    }

    .series-list ul {
        list-style: none;
        margin: 0;
        padding: 0;
    }

    .series-list li {
        padding: 5px;
        margin-bottom: 5px;
        background-color: #f9f9f9;
        border: 1px solid #ccc;
    }

    .card {
        margin-top: 5em;
    }

    .chapters-container {
        margin: 40px;
    }

    .seasons-container {
        align-content: center;
        margin: 40px;
    }

    .category-name {
        padding: 5px 15px;
        border-radius: 10px;
        border: 1px solid black;
        font-weight: bold;
        font-size: px;
    }

    .category-name.gold {
        background-color: gold;
    }

    .category-name.silver {
        background-color: silver;
    }

    .category-name.standard {
        background-color: white;
    }

    .description {
        margin: 10px;
        background-color: #cfcfcf;
    }

    .chapter-title {
        width: 20%;
        display: inline-block;
        text-align: left;
    }

    .chapter-view {
        width: 100px;
        padding-left: 20px;
        display: inline-block;
        text-align: left;
    }

    .table-responsive {
        text-align: center;
        font-size: 18px;
        padding: 30px;
    }

    .total-amount {
        padding: 5px;
        margin: 20px;
        border-radius: 10px;
        border: 1px solid black;
        background-color: aquamarine;
        font-weight: bold;
        font-size: 20px;
        text-align: center;
        display: block;
        float: right;
    }

    .add-button {
        width: 80px;
        padding-left: 20px;
        display: inline-block;
        text-align: left;
    }

    .serie-title {
        width: 20%;
        display: inline-block;
        text-align: left;
    }

    .ngdialog.custom-dialog .ngdialog-content {
        max-width: 500px;
        margin: 30px auto;
    }

    .card {
        margin: 2em;
    }

    footer {
        background-color: #333;
        color: #fff;
        padding: 30px 0;
        margin-top: 100px;
    }

    footer h5 {
        margin-top: 0;
        margin-bottom: 20px;
        font-weight: bold;
        color: #fff;
    }

    footer ul {
        margin: 0;
        padding: 0;
        list-style: none;
        line-height: 1.8;
    }

    footer ul li a {
        color: #fff;
        text-decoration: none;
        font-size: 16px;
    }

    footer ul li a:hover {
        color: #aaa;
        text-decoration: none;
    }

    .search-button {
        margin-left: 10px;
    }

    .table-header {
        background-color: #dadada;
        border: black; 
    }