<div ng-controller="watchSerie">
    <h1 class="title">{{ serie.title }}</h1>
    <div class="card">
        <div class="chapters-container">
            <div ng-repeat="season in serie.seasons" ng-show="season.number == currentSeason">
                <div class="card-header border-0">
                    <div class="text-center">
                        <a class="text-dark mr-2" ng-if="season.number > 1" ng-click="changeSeason(currentSeason - 1)">
                            <i class="fas fa-arrow-left"></i>
                        </a>
                        <h3 class="d-inline-block">{{ 'Temporada ' + season.number }}</h3>
                        <a class="text-dark ml-2" ng-if="season.number < serie.seasons.length"
                            ng-click="changeSeason(currentSeason + 1)">
                            <i class="fas fa-arrow-right"></i>
                        </a>
                        <div class="float-right">
                            <div class="category-name {{ serie.category.name.toLowerCase() }}">
                                {{ serie.category.name }}
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card-body">
                    <ul class="list-group">
                        <li class="list-group-item" ng-repeat="chapter in season.chapters | orderBy: 'number'">
                            <a class="chapter-title" ng-click="showDescription(chapter)">
                                {{ "E" + chapter.number + " " + chapter.title }}
                            </a>
                            <span>
                                <a href ng-click="viewChapter(serie, season, chapter)">Ver</a>
                                <span class="chapter-view"
                                    ng-if="views.serieSeasonViews[season.number - 1].chapters[chapter.number - 1]">Visto</span>
                                <span class="chapter-view"
                                    ng-if="!views.serieSeasonViews[season.number - 1].chapters[chapter.number - 1]">Pendiente</span>
                            </span>
                            <div class="description" ng-show="descriptionView[chapter.number - 1]">
                                {{ chapter.description }}
                            </div>
                        </li>
                    </ul>
                </div>
            </div>

        </div>
    </div>
</div>
</div>